<div class="topnav menu-divider">
    <a class="topnav-link active" href="#home">Dashboard</a>
    <a class="topnav-link" href="#news">Current Trainings</a>
    <a class="topnav-link">Completed Trainings</a>
    <a class="topnav-link">Payments</a>

    <a class="topnav-link">Skills</a>

    <a class="topnav-link">Notifications</a>

    <a class="topnav-link">Completed Trainings</a>
    <a class="topnav-link">Students Request</a>

    <div class="topnav-right ">
        <!-- <a href="#search">Profile</a> -->
        <!-- <a href="#about">Logout</a> -->
    </div>
</div>