<!-- <div class="topnav menu-divider">
    <a class="topnav-link active" href="#home">Dashboard</a>
    <a class="topnav-link" href="#news">Current Trainings</a>
    <a class="topnav-link">Completed Trainings</a>
    <a class="topnav-link">Payments</a>

    <a class="topnav-link">Skills</a>

    <a class="topnav-link">Notifications</a>

    <a class="topnav-link">Completed Trainings</a>
    <a class="topnav-link">Students Request</a>
</div> -->

<div class="jumbotron-header">
    <!-- <div>
        <h1 data-purpose="user-name">Dhondiram Jadhav</h1>
        <h2></h2>
    </div> -->
</div>