<div class="row" style="border:1px solid black;">
    <div class="col-sm-3">
        <div class="vertical-menu">
            <div class="image-viewer">
                <img src="https://scontent.fbom26-1.fna.fbcdn.net/v/t1.0-1/c0.8.240.240a/p240x240/72726566_2433032706793550_7724302762627825664_o.jpg?_nc_cat=104&_nc_sid=dbb9e7&_nc_ohc=xNSPwgN26IwAX9BU4jP&_nc_ht=scontent.fbom26-1.fna&oh=0c4c7e0ec44b204c2e88bb636d951798&oe=5F1A2F0F"
                    alt="image">
            </div>
            <div class="upload-btn-wrapper">
                <div class="custom-file">
                    <input type="file" class="btn btn-secondary btn-lg btn-block custom-file-input"
                        id="inputGroupFile02">
                    <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                </div>
            </div>
            <a href="#">Notification</a>
            <a href="#">Account</a>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="h4 text-center"> Public Profile</div>
        <form action="/action_page.php">
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd">
            </div>
            <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>