/* You can add global styles to this file, and also import other style files */
@media only screen and (max-width: 600px) {
    .container-fluid {
        max-width: 100%;
        padding: 0px;
     }
}
@media only screen and (min-width: 600px) {
    .container-fluid {
        max-width: 80%;
        padding: 0px;
     }
}
.container-fluid {
    background-color:white !important;
}
.navbar-light{
    margin-bottom: 15px;
}
.nav-logo{
    width:50px;
    max-width: 100%;
    height: auto;
}


