/* You can add global styles to this file, and also import other style files */
@media only screen and (max-width: 600px) {
    .search-box{
        width: 100% !important;
    }
     .banner{
        width: 400px;
    }
}
@media only screen and (min-width: 600px) {
    /* .container-fluid {
        max-width: 80%;
        padding: 0px;
     }
     .navbar{
        width: 80%;
        margin-left: 10%
     } */

}
.container-fluid {
    margin-top: 100px !important;
 }
.navbar{
    background-color: #fff !important;
    box-shadow: 0px 15px 10px -15px #111;     
 }
.nav-logo{
    width:50px;
    max-width: 100%;
    height: auto;
}
.signup-btn{
 margin :  2px 5px;
 font-weight: 500;
}
.login-btn{
 margin :  2px 5px;
 font-weight: 500;   
}
.not-badge-btn {
    border: 0px;
}
.not-badge {
    top: -8px !important;
}

