/* You can add global styles to this file, and also import other style files */
@media only screen and (max-width: 600px) {
    .search-box{
        width: 100% !important;
    }
     .banner{
        width: 400px;
    }
    .signup-btn , .login-btn{
        width: 100% !important;
     }
     .user-icon{
        display:none;
    }
    .menu_btn{
        margin-left: auto !important;
        font-weight: 500;
        display:inline-block !important;
        cursor: pointer;
    }

}
@media only screen and (min-width: 600px) {
     .user-icon{
        cursor: pointer;
        display:inline-block;
    }
    .menu_btn{
        display:none;
    }
}
.container-fluid {
    margin-top: 100px !important;
 }
.navbar{
    background-color: #fff !important;
    box-shadow: 0px 15px 10px -15px gray;     
 }
.nav-logo{
    width:50px;
    max-width: 100%;
    height: auto;
}
.signup-btn{
 margin :  2px 5px;
 font-weight: 500;
}
.login-btn{
 margin :  2px 5px;
 font-weight: 500;   
}
.not-badge-btn {
    border: 0px;
}
.not-badge {
    top: -8px !important;
}
.card-list{
    margin: 15px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    transition: 0.3s all linear;
}
.card-list:hover{
    transform: scale(1.04,1.06);
}
.banner-img{
    /* background-image: url(https://image.freepik.com/free-photo/back-school-education-banner-background_8087-1192.jpg);
    background-repeat: no-repeat;
    display: block;
    background-size: 100%; */
    background-color: #202634;
}
.required{
    color: red !important;
}

.pri-link{
    color: #007791;
    background-color: transparent;
    font-weight: 400;
    text-decoration: none;
}
.priv-link-wrapper{
    margin-top: 24px;
    font-size: 10px;
    text-align: center;
}
.loginbox-footer {
    display: block;
    padding: 0 0 24px;
    text-align: center;
}
.sign-link{
    font-weight: 700;
    background-color: transparent;
    text-decoration: none;
}
.user-avatar{
    border-radius: 50%;
    width:40px;
    border: 1px solid #e33c17;
}
.line-hr{
    background-color: #f93308;
    list-style: none;
}
.name-label{
    font-size: 14px;
}