<div class="row">
    <div class="col-md-4 offset-md-4 mt-3">
        <div class="h4">
          <img src="../../assets/logo/mod-logo.png" width="50" height="50" class="d-inline-block img-thumbnail" alt="logo">
          Log In to Your MOD Account !
          <hr style="background-color: #f93308;">
        </div>
        <div class="">
            <form>
                <div class="form-group ">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
               
                <button type="submit" class="btn btn-outline-primary btn-lg btn-block font-weight-bold">Log In</button>
              </form>
        </div>
    </div>
</div>